

/*TODO: fix the container's position */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header, footer {
    text-align: center;
}

#synergies { 
    grid-area: synergies;
    background-color: hotpink;
}
#grid { 
    grid-area: grid; 
    min-width: 650px;
    max-width: 650px;
}
#pieces { 
    grid-area: pieces;
    background-color: hotpink;
}

main {

    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;

    grid-template-areas: 
    'synergies grid'
    'synergies pieces';
    
    gap: 10px;
    /* background-color: aquamarine; */
}

main > div {
    /* background-color: rgba(248, 196, 196, 0.8); */
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

#pieces > img {
    height: 80px;
    width: 80px;
}

/* Hexagonal hell */

.hex {
    position: relative;
    float: left;
    /*It follows from the ratio of circumradius to inradius that the height-to-width ratio 
    of a regular hexagon is 1:1.1547005; that is, a hexagon with a long diagonal of 
    1.0000000 will have a distance of 0.8660254 between parallel sides. 
        - https://en.wikipedia.org/wiki/Hexagon */
    width: 86.6px; /* = height * 0.866*/
    height: 100px;
    background: hotpink;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

#grid .hex:nth-child(7n+2), #grid .hex:nth-child(7n+4), #grid .hex:nth-child(7n+6) { 
    margin: 0 1%;
}

#grid .hex:nth-child(14n+8), #grid .hex:nth-child(14n+9), #grid .hex:nth-child(14n+10),
#grid .hex:nth-child(14n+11), #grid .hex:nth-child(14n+12), #grid .hex:nth-child(14n+13),
#grid .hex:nth-child(14n+14) {
    margin-top: -3%;
    margin-bottom: -3%;
    transform: translate(55%);
}

.item-hex {
    margin: 0 auto;
    width: 86.6px; /* = height * 0.866 */
    height: 100px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}