h1 {
    text-align: center;
}

.grid {
    position: relative;
    margin: 0 auto;
    width: 55%;
    min-width: 613.2px;
}

.hex {
    position: relative;
    float: left;
    /*It follows from the ratio of circumradius to inradius that the height-to-width ratio 
    of a regular hexagon is 1:1.1547005; that is, a hexagon with a long diagonal of 
    1.0000000 will have a distance of 0.8660254 between parallel sides. 
        - https://en.wikipedia.org/wiki/Hexagon */
    width: 86.6px; /* = height * 0.866*/
    height: 100px;
    background: rgba(0, 238, 255, 0.507);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  .grid .hex:nth-child(7n+2), .grid .hex:nth-child(7n+4), .grid .hex:nth-child(7n+6) { 
    margin: 0 1%;
}